/*body{
    background: linear-gradient(rgb(100,50,50), rgb(80,20,20)) no-repeat;
    color: white;
    text-align: center;
}

img{
    margin: 1%;
}*/



body{
    margin:0;
    padding:0;
    background-color:#012F5A;/*blue*/
}
#wrapper{
    width:960px;
    background-color:#fff;/*white*/
    margin:0 auto;
}
/*|||||||||||||||||||||||||||
  |||||               |||||||
  |||||     Header    |||||||
  |||||               |||||||
  |||||||||||||||||||||||||||
*/
header{
    height:70px;
    color:#fff;/*white*/
    background-color:#111;/*darkgray*/
    padding:20px;
}
header#logo{
    display:inline-block;
    float:left;
}
/*|||||||||||||||||||||||||||
  |||||               |||||||
  |||||   SearchBox   |||||||
  |||||               |||||||
  |||||||||||||||||||||||||||
*/

#input_container { 
    display:inline-block;
    float:right;
    position:relative;
    /*background:#ddd;*/
}
#searchBox {
    height:10px;
    padding:5px;    
    border-radius:10px;
    padding-left: 40px;
}
#input_img {
    position:absolute;
    bottom:8px;
    left:10px;
    padding-right:20px;
    /*margin-top:10px;*/
    padding-top:10px;
    /*width:18px;
    height:12px;*/
}


/*|||||||||||||||||||||||||||
  |||||               |||||||
  |||||  Navigation   |||||||
  |||||               |||||||
  |||||||||||||||||||||||||||
*/
nav{
    float:right;
}
nav ul{
    list-style:none;
    display:inline-block;
    font-size:12px;
    text-transform:uppercase;
    margin:0;
    
}
nav ul li{
    float:left;
    padding:5px;
}
/*|||||||||||||||||||||||||||
  |||||               |||||||
  |||||      Main     |||||||
  |||||               |||||||
  |||||||||||||||||||||||||||
*/
main{
    min-height:800px;
    overflow:auto;
}
/*|||||||||||||||||||||||||||
  |||||               |||||||
  |||||   Footer      |||||||
  |||||               |||||||
  |||||||||||||||||||||||||||
*/
footer{
    height:390px;
    background-color:#0f0f0f;
}
.footerColum{
    display:inline-block;
    padding:2%;
    width: 29%;

}
